# .NET
desktop-app/**/bin/
desktop-app/**/obj/
*.user
*.suo
*_wpftmp.*

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
*.iml
.idea/

# OS
.DS_Store
Thumbs.db
